<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>HAProxy Whiteboard</title>
    </head>
    <body>
        <div class="container">
	    <!-- FIRST ROW ---------------------------------------------------------------------------- -->
            <div class="p-1 m-1 d-flex align-items-center" style="height: 50px;">
	    <a class="text-decoration-none" href="/"><h2>HAProxy Whiteboard</h2></a>
	    </div>

	    {% with messages = get_flashed_messages(category_filter=["no_ip"]) %}
	    {% if messages %}<p class="p-1 m-1 alert-danger">Error: IP Address cannot be empty ...</p>{% endif %}
            {% endwith %}
            {% with messages = get_flashed_messages(category_filter=["no_comment"]) %}
            {% if messages %}<p class="p-1 m-1 alert-danger">Error: Comment cannot be empty ...</p>{% endif %}
            {% endwith %}
	    {% with messages = get_flashed_messages(category_filter=["bad_ip"]) %}
	    {% if messages %}<p class="p-1 m-1 alert-danger">Error: Bad IP address {{ messages }} ...</p>{% endif %}
            {% endwith %}
	    {% with messages = get_flashed_messages(category_filter=["reload_error"]) %}
            {% if messages %}<p class="p-1 m-1 alert-danger">Error: {{ messages }} ...</p>{% endif %}
            {% endwith %}

	    <!-- SECOND ROW ---------------------------------------------------------------------------- -->
	    <form action="/" method="post">
	    <div class="row form-row border border-secondary p-1 m-1">
                <div class="form-group col-md-2">
		    <input type="text" id="ip" name="ip" value="" placeholder="IP Address" maxlength="16" class="form-control">
                </div>
                <div class="form-group col-md-6">
		<input type="text" id="comment" name="comment" value="" placeholder="Comment..." maxlength="40" size="40" class="form-control">
		</div>
                <div class="col-sm">
                    <input type="submit" value="Submit" class="btn btn-outline-primary">
                </div>
            </div>
            </form>
 
	    <!-- THIRD ROW ---------------------------------------------------------------------------- -->
	    <div class="row border border-secondary p-1 m-1">
                <table class="table table-hover">
		    <tr><th>IP</th><th>Comment</th><th></th></tr>
                    {% for n, y in items.items() %}
                    <tr>
		        <td>{{ n }}</td>
			<td>{{ y }}</td>
			<td class="text-end">
			    <form action="/" method="post">
			    <input type="hidden" name="key" value="{{ n }}">
			    <input type="submit" name="remove" value="Remove" class="btn btn-outline-danger btn-sm">
			    </form>
			</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

	    <!-- FOURTH ROW ---------------------------------------------------------------------------- -->
            <div class="row border border-secondary p-1 m-1">
                <h3>ips.json</h3>
		<code><pre>
{{ ips_json }}</pre></code>
            </div>

	    <!-- FIFTH ROW ---------------------------------------------------------------------------- -->
            <div class="row border border-secondary p-1 m-1">
                <h3>ips.txt</h3>
		<code><pre>
{{ ips_txt }}</pre></code>
            </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>

